<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }} - Rei</title>
    <link rel="stylesheet" href="/stylesheets/material-components-web.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="mdc-typography">
    {{ content }}
    <script src="/javascripts/material-components-web.min.js"></script>
    <script>window.mdc.autoInit();</script>
  </body>
</html>
